:root {
  --hash-white: var(--bs-white, var(--white, #fff));
  --hash-gray-100: var(--bs-gray-100, #f8f9fa);
  --hash-gray-300: var(--bs-gray-300, #dee2e6);
  --hash-gray-700: var(--bs-gray-700, #848e97);
  --hash-gray: var(--bs-gray-600, #b2b8bf);
  --hash-darkgray: var(--bs-gray-800, #495057);
  --hash-black: var(--bs-black, var(--black, #000));
  --hash-primary: var(--bs-primary, var(--primary, #0d6efd));
  --hash-success: var(--bs-success, var(--success, #20c997));
  --hash-danger: var(--bs-danger, var(--danger, #ff0051));
  --hash-warning: var(--bs-warning, var(--warning, #f7e296));
  --hash-body-color: var(--bs-body-color, #212529);
  --hash-border-radius: 0.3rem;
  --hash-gutter-sm: 0.5em;
  --hash-gutter-md: 1em;
  --hash-gutter-lg: 2em;
  --hash-gutter: var(--hash-gutter-md);
  --hash-input-padding: 0.5rem;
  --hash-input-padding-sm: 0.5rem;
  --hash-btn-padding: 0.5rem 1.5rem;
  --hash-btn-border-radius: var(--hash-border-radius);
}
.hash-button {
  display: inline-block;
  text-decoration: none;
  padding: var(--hash-btn-padding);
  background-color: var(--hash-primary);
  color: var(--hash-white);
  border-radius: var(--hash-btn-border-radius);
  line-height: 1.5;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}
.hash-button.inactive {
  background-color: var(--hash-gray);
  pointer-events: none;
}
.hash-button:hover {
  opacity: 0.92;
  color: var(--hash-white);
}
.hash-button:active {
  position: relative;
  bottom: -1px;
}
.hash-button.hash-button-success {
  background-color: var(--hash-success);
}
.hash-button.inactive {
  background-color: var(--hash-gray-300);
}
.hash-form-control {
  padding: var(--hash-input-padding);
  border: 1px solid var(--hash-gray-300);
  border-radius: var(--hash-border-radius);
  box-shadow: 2px 2px #00000005;
  background: var(--hash-white);
  font: inherit;
  color: inherit;
}
.hash-store-message {
  margin-bottom: 10px;
}
.hashflow-shopping-cart {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hashflow-shopping-cart hr {
  margin: 20px 0;
  height: 1px;
  background-color: var(--hash-gray);
  border: 0;
}
.hashflow-shopping-cart .hash-heading {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 1.5em;
}
.hashflow-shopping-cart .hash-heading-small {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.hashflow-shopping-cart .hash-product-photo {
  object-fit: cover;
}
.hashflow-shopping-cart .hash-loading-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none !important;
}
.hashflow-shopping-cart .hash-loading-overlay.visible {
  opacity: 1;
}
.hashflow-shopping-cart .hash-message,
.hashflow-cart-toggler .hash-message {
  background-color: var(--hash-gray-100);
  padding: 10px;
  text-align: center;
}
.hashflow-shopping-cart .hash-cart {
  text-align: left;
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--hash-gutter-md) 0;
  border-top: 1px solid var(--hash-gray-300);
  overflow: hidden;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-controls.hash-mobile-product-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 0.8em;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-controls.hash-mobile-product-controls
  .hash-product-remove {
  padding: 0.5em;
  margin-left: 0.6em;
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-quantity-widget {
  margin-bottom: 0;
  
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-data {
  flex: 1;
}
.hashflow-shopping-cart .hash-cart .hash-th {
  display: none;
  width: 100%;
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--hash-gray-300);
  padding: 12px 0;
}
.hashflow-shopping-cart .hash-cart .hash-product-col {
  display: flex;
  flex-direction: column;
}
.hashflow-shopping-cart .hash-cart .hash-product-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: var(--hash-gutter-md) 0;
}
.hashflow-shopping-cart .hash-cart .hash-price-col,
.hashflow-shopping-cart .hash-cart .hash-quantity-col,
.hashflow-shopping-cart .hash-cart .hash-total-col {
  display: none;
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-photo {
  background-color: var(--hash-gray-300);
  width: 25%;
  height: 90px;
  margin-right: 1em;
  margin-top: 5px;
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-name {
  font-weight: bold;
  word-break: break-word;
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-category,
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-variant,
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-personalization-holder,
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-total-formula {
  font-size: 0.75em;
  color: var(--hash-gray);
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-total-sum {
  font-weight: bold;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-total-sum.out-of-stock {
  color: var(--hash-gray);
}
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-data
  .hash-product-info {
  display: flex;
  justify-content: space-between;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-data
  .hash-product-info
  .hash-mobile-product-price {
  margin-left: var(--hash-gutter-lg);
}
.hashflow-shopping-cart
  .hash-cart
  .hash-cart-table
  .hash-product-data
  .hash-product-total {
  display: block;
}
.hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-total {
    text-align: right;
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-photo {
    height: 120px;
  }
}
@media (min-width: 768px) {
  .hashflow-shopping-cart .hash-cart .hash-product-wrapper {
    align-items: center;
    padding: 0;
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-data {
    margin: var(--hash-gutter-md) 0;
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product {
    flex-direction: row;
    border: none;
    margin: var(--hash-gutter-md) 0;
    padding: 0;
  }
  .hashflow-shopping-cart .hash-cart .hash-th {
    display: table;
  }
  .hashflow-shopping-cart .hash-cart .hash-product-col,
  .hashflow-shopping-cart .hash-cart .hash-price-col,
  .hashflow-shopping-cart .hash-cart .hash-quantity-col,
  .hashflow-shopping-cart .hash-cart .hash-total-col {
    display: table-cell;
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-price-col,
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-quantity-col,
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-total-col {
    padding-top: var(--hash-gutter-md);
  }
  .hashflow-shopping-cart .hash-cart .hash-product-col {
    width: 50%;
  }
  .hashflow-shopping-cart .hash-cart .hash-price-col {
    width: 15%;
    text-align: center;
  }
  .hashflow-shopping-cart .hash-cart .hash-quantity-col {
    width: 20%;
    text-align: center;
  }
  .hashflow-shopping-cart .hash-cart .hash-total-col {
    width: 15%;
    text-align: right;
  }
  .hashflow-shopping-cart
    .hash-cart
    .hash-cart-table
    .hash-product-price.hash-mobile-product-price,
  .hashflow-shopping-cart
    .hash-cart
    .hash-cart-table
    .hash-product-controls.hash-mobile-product-controls {
    display: none;
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-price,
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-total {
    padding-top: var(--hash-gutter-sm);
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-product-photo {
    width: 100px;
    height: 100px;
    border-radius: var(--hash-border-radius);
  }
  .hashflow-shopping-cart .hash-cart .hash-cart-table .hash-quantity-widget {
    margin: 0;
  }
}
.hash-quantity-widget {
  width: calc(--hash-border-radius - 2em);
  display: inline-flex;
  border: 1px solid var(--hash-gray-300);
  border-radius: var(--hash-border-radius);
  box-shadow: 2px 2px 2px #0000000d;
}
.hash-quantity-widget input {
  text-align: center;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  width: 5.2em;
  font-size: 0.9em;
  padding: 0.5em 0;
}
.hash-quantity-widget > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid;
  border-color: inherit;
  cursor: pointer;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 1.6em;
  padding: 0.2em 0;
  text-align: center;
  user-select: none;
  padding: var(--hash-input-padding);
  min-width: 32px;
}
.hash-summary .hash-quantity-widget input,
.hash-summary .hash-quantity-widget > div {
  padding: var(--hash-input-padding-sm);
}
.hash-quantity-widget > div:active {
  background-color: #979ca01a;
}
.hash-increase span,
.hash-decrease span {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
}
.hash-increase span:before,
.hash-increase span:after,
.hash-decrease span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 10px;
  height: 2px;
  background: currentColor;
  transform: translateY(-50%);
}
.hash-increase span:after {
  transform: translateY(-50%) rotate(90deg);
}
.hash-quantity-widget .hash-decrease {
  border-right-width: 1px;
}
.hash-quantity-widget .hash-increase {
  border-left-width: 1px;
}
.hash-quantity-widget.inactive,
.hash-quantity-widget .hash-increase.inactive {
  opacity: 0.6;
  pointer-events: none;
}
.hashflow-shopping-cart .hash-cart .hash-product-remove {
  text-transform: uppercase;
  color: var(--hash-danger);
  font-size: 0.75em;
  margin-top: 6px;
  cursor: pointer;
  display: inline-block;
}
.hashflow-shopping-cart .hash-cart .hash-product-qty-message {
  font-size: 0.75em;
  margin-top: 6px;
}
.hashflow-shopping-cart .hash-links {
  text-align: center;
}
.hashflow-shopping-cart .hash-checkout .hash-links {
  margin-top: 30px;
}
.hashflow-shopping-cart .hash-cart .hash-links a,
.hashflow-shopping-cart .hash-checkout .hash-links a {
  color: var(--hash-darkgray);
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 10px;
}
.hashflow-shopping-cart .hash-cart .hash-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--hash-gray-300);
  padding-top: 35px;
  margin-top: 25px;
}
.hashflow-shopping-cart .hash-cart .hash-totals {
  text-align: center;
  margin-bottom: 30px;
}
.hashflow-shopping-cart .hash-cart .hash-subtotal {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.hashflow-shopping-cart .hash-cart .hash-shipping-taxes {
  margin-bottom: 30px;
}
.hashflow-shopping-cart .hash-cart .hash-accept-terms {
  margin-bottom: 35px;
}
.hashflow-shopping-cart .hash-cart .hash-accept-terms input[type='checkbox'] {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-accept-terms
  .hash-terms-agreement-text
  span,
.hashflow-shopping-cart .hash-cart .hash-accept-terms .hash-terms-agreement-text a {
  display: inline;
  font-size: 1rem;
}
.hashflow-shopping-cart .hash-cart .hash-checkout-buttons {
  flex-direction: column;
  align-items: center;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-checkout-buttons
  .hash-paypal-express-checkout-holder
  > div {
  width: 180px !important;
}
.hashflow-shopping-cart
  .hash-cart
  .hash-checkout-buttons
  .hash-standard-checkout-button {
  width: 180px;
  text-align: center;
}
@media (min-width: 576px) {
  .hashflow-shopping-cart .hash-cart .hash-footer {
    flex-direction: row;
    align-items: flex-start;
  }
  .hashflow-shopping-cart .hash-cart .hash-totals {
    text-align: right;
    margin-bottom: 0;
  }
  .hashflow-shopping-cart .hash-links {
    text-align: left;
  }
  .hashflow-shopping-cart .hash-cart .hash-checkout-buttons {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .hashflow-shopping-cart
    .hash-cart
    .hash-checkout-buttons
    .hash-standard-checkout-button {
    margin-left: 12px;
  }
}
.hashflow-shopping-cart .hash-checkout {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
}
.hashflow-shopping-cart .hash-checkout .hash-checkout-content,
.hashflow-shopping-cart .hash-checkout .hash-checkout-summary {
  flex-grow: 1;
  width: 100%;
  padding: 3%;
}
.hashflow-shopping-cart .hash-checkout .hash-heading {
  margin-bottom: 40px;
}
.hashflow-shopping-cart .hash-checkout .hash-heading-delivery,
.hashflow-shopping-cart .hash-checkout .hash-heading-payment {
  margin-top: 40px;
}
.hashflow-shopping-cart .hash-checkout .hash-checkout-content .hash-zero-value-form {
  margin-bottom: 20px;
}
.hashflow-shopping-cart .hash-checkout .hash-checkout-summary {
  display: none;
  background: var(--hash-gray-100);
}
.hashflow-shopping-cart .hash-checkout .hash-checkout-summary.open {
  display: block;
}
.hashflow-shopping-cart .hash-checkout .hash-checkout-summary .hash-heading {
  display: none;
}
.hashflow-shopping-cart .hash-checkout .hash-summary-toggle {
  width: 100%;
  background: var(--hash-gray-100);
  cursor: pointer;
  font-size: 0.8em;
  user-select: none;
}
.hashflow-shopping-cart .hash-checkout .hash-summary-toggle .hash-field-toggle {
  padding: 1em 5%;
}
.hashflow-shopping-cart .hash-checkout label {
  display: block;
  margin-bottom: 16px;
}
.hashflow-shopping-cart .hash-checkout label span {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.hashflow-shopping-cart .hash-checkout .hash-validation-error {
  color: red;
  font-size: 0.85em;
  padding-top: 4px;
}
.hashflow-shopping-cart .hash-checkout .hash-validation-error:empty {
  display: none;
}
.hashflow-shopping-cart .hash-checkout .hash-tax-note .hash-field-toggle-title,
.hashflow-shopping-cart
  .hash-checkout
  .hash-note-to-seller
  .hash-field-toggle-title {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0;
  font-weight: bold;
  color: var(--hash-primary);
}
.hashflow-shopping-cart .hash-checkout .hash-tax-note .hash-tax-exemption-text,
.hashflow-shopping-cart .hash-checkout .hash-tax-note .hash-new-tax-file,
.hashflow-shopping-cart .hash-checkout .hash-tax-note .hash-old-tax-file {
  margin-top: 10px;
}
.hashflow-shopping-cart .hash-checkout .hash-tax-note .hash-old-tax-file {
  display: block;
  font-size: 0.9em;
}
.hashflow-shopping-cart .hash-checkout .hash-tax-note .hash-remove-tax-file {
  color: var(--hash-danger);
  border: 1px solid var(--hash-danger);
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px 5px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: -1px;
  margin-left: 10px;
}
.hashflow-shopping-cart .hash-checkout .hash-note-to-seller textarea {
  margin-top: 10px;
}
.hashflow-shopping-cart .hash-checkout .hash-checkbox span {
  display: inline;
  margin-bottom: 0;
  user-select: none;
  vertical-align: middle;
}
.hashflow-shopping-cart label input[type='text'],
.hashflow-shopping-cart label input[type='email'],
.hashflow-shopping-cart label input[type='tel'],
.hashflow-shopping-cart label textarea,
.hashflow-shopping-cart label select,
.hashflow-add-to-cart.hash-product-controls label select {
  display: block;
  width: 100%;
}
.hashflow-shopping-cart label textarea {
  min-height: 80px;
}
.hashflow-shopping-cart label input[type='checkbox'] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.hashflow-shopping-cart .hash-row {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.hashflow-shopping-cart .hash-nav .hash-row {
  flex-direction: column;
}
.hashflow-shopping-cart .hash-checkout .hash-row-region > :nth-child(1) {
  width: 100%;
}
.hashflow-shopping-cart .hash-checkout .hash-row-region > :nth-child(2) {
  width: 200px;
}
.hashflow-shopping-cart .hash-checkout .hash-products {
  margin-top: 10px;
}
.hashflow-shopping-cart .hash-checkout .hash-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
.hashflow-shopping-cart .hash-checkout .hash-product .hash-product-col {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.hashflow-shopping-cart .hash-checkout .hash-product .hash-product-name {
  font-weight: bold;
  word-break: break-word;
}
.hashflow-shopping-cart .hash-checkout .hash-product .hash-product-photo {
  width: 80px;
  height: 80px;
  display: none;
  float: left;
  margin-right: 20px;
  background-color: var(--hash-gray-300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--hash-border-radius);
}
.hashflow-shopping-cart .hash-checkout .hash-product .hash-product-secondary,
.hashflow-shopping-cart
  .hash-checkout
  .hash-product
  .hash-product-personalization-holder {
  font-size: 0.75em;
  color: var(--hash-gray);
}
.hashflow-shopping-cart .hash-checkout .hash-product .hash-product-remove {
  display: block;
  color: var(--hash-danger);
  font-size: 0.75em;
  cursor: pointer;
  text-align: right;
  text-transform: uppercase;
}
.hashflow-shopping-cart .hash-checkout .hash-product.hash-warning .hash-product-name,
.hashflow-shopping-cart
  .hash-checkout
  .hash-product.hash-warning
  .hash-product-secondary {
  color: var(--hash-danger);
}
.hashflow-shopping-cart .hash-checkout .hash-product-qty-message {
  font-size: 0.75em;
  display: inline-block;
}
.hashflow-shopping-cart .hash-checkout .hash-product-update-cart {
  font-size: 0.75em;
  display: inline-block;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.hashflow-shopping-cart .hash-coupon-code.hidden {
  display: none !important;
}
.hashflow-shopping-cart .hash-coupon-container {
  display: flex;
  flex-grow: 1;
}
.hashflow-shopping-cart .hash-coupon-code .hash-coupon-input-holder {
  flex-grow: 1;
  margin-right: 10px;
  position: relative;
}
.hashflow-shopping-cart .hash-coupon-code #hash-coupon-input {
  width: 100%;
  font-size: 0.9rem;
  padding: 8px 14px;
  border: 1px solid var(--hash-gray-300);
  border-radius: var(--hash-border-radius);
  box-shadow: 2px 2px #00000005;
  background: var(--hash-white);
}
.hashflow-shopping-cart .hash-coupon-code .hash-coupon-input-clear {
  position: absolute;
  right: 10px;
  top: 7px;
  color: var(--hash-gray);
  display: none;
  cursor: default;
}
.hashflow-shopping-cart .hash-coupon-code .hash-button.hash-add-code {
  font-size: 0.9rem;
}
.hashflow-shopping-cart .hash-checkout .hash-applied-coupon .hash-remove-coupon {
  color: var(--hash-danger);
  border: 1px solid var(--hash-danger);
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px 5px;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.hashflow-shopping-cart
  .hash-checkout
  .hash-applied-coupon
  .hash-applied-coupon-error {
  color: red;
  font-size: 0.9em;
}
.hashflow-shopping-cart .hash-checkout .hash-totals {
  font-size: 0.9em;
  line-height: 1.8;
}
.hashflow-shopping-cart .hash-checkout .hash-total .hash-row {
  font-weight: bold;
  font-size: 1.1em;
}
.hashflow-shopping-cart .hash-checkout .hash-total-note {
  text-align: right;
  font-size: 0.8em;
}
.hashflow-shopping-cart .hash-checkout .hash-back {
  font-size: 0.9em;
  cursor: pointer;
  margin-bottom: 6px;
  color: var(--hash-gray-700);
}
.hashflow-shopping-cart .hash-field-collapsible .hash-collapse,
.hashflow-shopping-cart .hash-field-collapsible input[type='text'],
.hashflow-shopping-cart .hash-field-collapsible input[type='email'],
.hashflow-shopping-cart .hash-field-collapsible input[type='tel'],
.hashflow-shopping-cart .hash-field-collapsible textarea {
  display: none;
}
.hashflow-shopping-cart .hash-field-collapsible .hash-field-toggle-title:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-width: 5px 6px;
  border-left-color: currentColor;
  position: relative;
  bottom: 0;
  margin-left: 10px;
}
.hashflow-shopping-cart .hash-field-collapsible.open span:after {
  border-left-color: transparent;
  border-top-color: currentColor;
  border-width: 6px 5px;
  bottom: -4px;
  margin-left: 8px;
}
.hashflow-shopping-cart .hash-field-collapsible.open .hash-collapse,
.hashflow-shopping-cart .hash-field-collapsible.open input[type='text'],
.hashflow-shopping-cart .hash-field-collapsible.open input[type='email'],
.hashflow-shopping-cart .hash-field-collapsible.open input[type='tel'],
.hashflow-shopping-cart .hash-field-collapsible.open textarea {
  display: block;
}
.hashflow-shopping-cart .hash-field-toggle {
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.hashflow-shopping-cart .hash-summary-total {
  font-weight: bold;
}
@media (min-width: 576px) {
  .hashflow-shopping-cart .hash-checkout .hash-checkout-content,
  .hashflow-shopping-cart .hash-checkout .hash-checkout-summary {
    padding: 5%;
  }
  .hashflow-shopping-cart .hash-nav .hash-row {
    flex-direction: row;
  }
  .hashflow-shopping-cart .hash-checkout .hash-product .hash-product-photo {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .hashflow-shopping-cart .hash-checkout {
    flex-direction: row;
  }
  .hashflow-shopping-cart .hash-checkout .hash-checkout-content {
    width: 55%;
    padding: 5%;
  }
  .hashflow-shopping-cart .hash-checkout .hash-checkout-summary {
    display: block;
    width: 45%;
    padding: 5%;
    min-height: 650px;
  }
  .hashflow-shopping-cart .hash-checkout .hash-checkout-summary .hash-heading {
    display: block;
  }
  .hashflow-shopping-cart .hash-checkout .hash-summary-toggle {
    display: none;
  }
}
.hash-payment-method-instructions {
  border: 1px solid var(--hash-gray-300);
  background: var(--hash-white);
  border-radius: var(--hash-border-radius);
  padding: 15px;
  margin-bottom: 20px;
}
.hash-payment-method-instructions > p {
  font-family: var(--bs-body-font-family);
  margin-bottom: 0;
}
.hashflow-shopping-cart .hash-checkout .hash-delivery-card {
  background: var(--hash-white);
  border: 1px solid var(--hash-gray-300);
  border-radius: 12px;
  margin-bottom: 50px;
}
.hashflow-shopping-cart .hash-checkout .hash-delivery-card .hash-tab {
  border: 1px solid var(--hash-gray-300);
  border-width: 0px;
}
.hashflow-shopping-cart .hash-delivery-card.tabbable .hash-tab:first-of-type {
  border-bottom-width: 1px;
}
.hashflow-shopping-cart .hash-delivery-card .hash-tab-toggle {
  display: none;
  align-items: center;
  padding: 15px;
  margin-bottom: 0;
}
.hashflow-shopping-cart .hash-delivery-card.tabbable .hash-tab-toggle {
  display: flex;
}
.hashflow-shopping-cart
  .hash-delivery-card
  .hash-tab
  .hash-tab-toggle
  .hash-heading-small {
  margin-bottom: 0;
  margin-left: 15px;
}
.hashflow-shopping-cart .hash-delivery-card .hash-tab .hash-tab-content {
  display: none;
  padding: 10px 15px 30px;
}
.hashflow-shopping-cart .hash-delivery-card .hash-tab.open .hash-tab-content {
  display: block;
}
.hashflow-shopping-cart .hash-locations {
  margin-bottom: 40px;
}
.hashflow-shopping-cart .hash-locations label {
  margin-bottom: 0;
  position: relative;
}
.hashflow-shopping-cart .hash-locations label .hash-location-card {
  cursor: pointer;
  border: 1px solid var(--hash-gray-300);
  padding: 12px 16px;
  border-bottom-width: 0px;
}
.hashflow-shopping-cart .hash-locations label:first-child .hash-location-card {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.hashflow-shopping-cart .hash-locations label:last-of-type .hash-location-card {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-width: 1px;
}
.hashflow-shopping-cart .hash-locations input[type='radio'] {
  position: absolute;
  top: 20px;
  left: 20px;
}
.hashflow-shopping-cart
  .hash-locations
  input[type='radio']:checked
  + .hash-location-card {
  box-shadow: inset 0 0 1px 1px var(--hash-primary);
}
.hashflow-shopping-cart .hash-locations .hash-location-name {
  display: block;
  font-size: 1em;
  margin-bottom: 12px;
  margin-left: 28px;
}
.hashflow-shopping-cart .hash-locations .hash-location-address {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.hashflow-shopping-cart .hash-checkout .hash-shipping-address-holder {
  margin-bottom: 30px;
}
.hashflow-shopping-cart .hash-checkout .hash-billing-container .hash-button {
  background: var(--hash-white);
  color: var(--hash-primary);
  border: 1px solid var(--hash-primary);
  font-size: 0.9rem;
  padding: 4px 10px 2px;
  border-radius: 4px;
  cursor: pointer;
}
.hashflow-shopping-cart .hash-checkout .hash-billing-container .hash-remove-billing {
  margin-bottom: 20px;
  color: var(--hash-gray-700);
  border: 1px solid var(--hash-darkgray);
}
.hashflow-shopping-cart .hash-heading-shipping-methods {
  margin-top: 40px;
}
.hashflow-shopping-cart .hash-shipping-methods label {
  display: flex;
  cursor: pointer;
  border: 1px solid var(--hash-gray-300);
  padding: 10px 15px;
  margin-bottom: 0;
  border-bottom-width: 0px;
}
.hashflow-shopping-cart .hash-shipping-methods label:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.hashflow-shopping-cart .hash-shipping-methods label:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-width: 1px;
}
.hashflow-shopping-cart .hash-shipping-methods .hash-method-radio {
  display: flex;
}
.hashflow-shopping-cart .hash-shipping-methods input[type='radio'] {
  width: 18px;
  height: 18px;
}
.hashflow-shopping-cart .hash-shipping-methods .hash-method-name {
  flex: 1;
  padding: 0 12px 0 10px;
  word-break: break-word;
}
.hashflow-shopping-cart .hash-shipping-methods .hash-method-name small {
  display: block;
  color: var(--hash-gray);
}
.hashflow-shopping-cart .hash-delivery-unavailable {
  border: 1px solid var(--bs-danger);
  padding: 20px;
  margin-bottom: 40px;
}
.hashflow-shopping-cart .hash-standard-payment-buttons .hash-button {
  display: block;
  margin-bottom: 7px;
  text-align: center;
  font-size: 18px;
  padding: 14px;
}
@media (min-width: 576px) {
  .hash-payment-method-instructions {
    padding: 30px;
  }
  .hashflow-shopping-cart .hash-shipping-methods label {
    padding: 15px 20px;
  }
  .hashflow-shopping-cart .hash-shipping-methods .hash-method-name {
    padding: 0 16px 0 18px;
  }
  .hashflow-shopping-cart .hash-delivery-card .hash-tab-toggle {
    padding: 20px 25px;
  }
  .hashflow-shopping-cart .hash-delivery-card .hash-tab .hash-tab-content {
    padding: 25px 35px 35px;
  }
}
.hashflow-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hashflow-product-list .hash-media,
.hashflow-product-list.hash-cards .hash-media {
  position: relative;
  width: 100%;
}
.hashflow-product-list .hash-image,
.hashflow-product-list.hash-cards .hash-image {
  width: 100%;
  height: 250px;
}
.hashflow-product-list .hash-image {
  object-fit: cover;
}
.hashflow-product-list .hash-image {
  aspect-ratio: 1;
}
.hashflow-product-list.hash-cards .hash-image {
  aspect-ratio: auto;
}
.hashflow-product .hash-media .hash-sale-badge,
.hashflow-product-list .hash-media .hash-sale-badge {
  position: absolute;
  pointer-events: none;
  top: 0.8em;
  right: 0.8em;
  background-color: var(--hash-success);
  color: var(--hash-white);
  font-weight: bold;
  font-size: 0.75em;
  padding: 0.2em 0.7em;
  border-radius: var(--hash-border-radius);
}
.hashflow-product-list .hash-products {
  width: 100%;
  display: grid;
  column-gap: var(--hash-gutter-md);
  row-gap: var(--hash-gutter-md);
}
.hashflow-product-list.hash-cards .hash-products {
  --hash-products-per-row: 1;
  margin-bottom: var(--hash-gutter-lg);
  grid-template-columns: repeat(var(--hash-products-per-row), 1fr);
  row-gap: var(--hash-gutter-lg);
}
.hashflow-product {
  display: flex;
  flex-wrap: wrap;
}
.hashflow-product-list .hash-product {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}
.hashflow-product-list.hash-cards .hash-product {
  flex-direction: column;
}
.hashflow-product-list .hash-product .hash-media {
  border-radius: var(--hash-border-radius);
  margin: 0 0 var(--hash-gutter-md) 0;
}
.hashflow-product-list.hash-cards .hash-product .hash-media {
  margin: 0 0 var(--hash-gutter-md) 0;
}
.hashflow-product-list .hash-product .hash-product-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hashflow-product-list.hash-cards .hash-product .hash-product-data {
  flex-direction: column;
}
.hashflow-product-list .hash-product .hash-name {
  font-size: 1.25em;
}
.hashflow-product-list .hash-product .hash-description {
  font-size: 1em;
}
.hashflow-product-list .hash-product .hash-price {
  font-size: 0.9em;
  font-family: var(--bs-body-font-family);
  margin: 0;
}
.hashflow-product .hash-price.hash-on-sale,
.hashflow-product-list .hash-price.hash-on-sale {
  color: var(--hash-success);
}
.hashflow-product-list .hash-original-price {
  color: var(--hash-body-color);
  margin-right: 10px;
}
.hashflow-product-list .hash-product .hash-addons {
  transition: all 0.3s ease;
  margin-top: 1em;
}
.hashflow-product-list.hash-cards .hash-product .hash-addons {
  margin-top: 1em;
  margin-left: 0;
}
.hashflow-product .hash-media {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
}
.hashflow-product .hash-media .hash-image {
  width: 100%;
  height: 300px;
  background: center no-repeat;
  background-size: cover;
  border-radius: var(--hash-border-radius);
  cursor: pointer;
}
.hashflow-product .hash-media .hash-preview {
  margin-bottom: var(--hash-gutter-sm);
}
.hashflow-product .hash-media .hash-preview .hash-image {
  object-fit: cover;
  display: none;
}
.hashflow-product .hash-media .hash-preview .hash-image.active {
  display: block;
}
.hashflow-product .hash-media .hash-preview .hash-video {
  object-fit: unset;
}
.hashflow-product .hash-media .hash-thumbnails {
  --hash-thumbs-per-row: 4;
  display: grid;
  grid-template-columns: repeat(var(--hash-thumbs-per-row), 1fr);
  column-gap: var(--hash-gutter-sm);
  row-gap: var(--hash-gutter-sm);
}
.hashflow-product .hash-media .hash-thumbnails .hash-thumbnail {
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
}
.hashflow-product .hash-media .hash-thumbnails .hash-image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  min-height: 80px;
}
.hashflow-product .hash-media .hash-thumbnails .hash-image:hover,
.hashflow-product .hash-media .hash-thumbnails .hash-image.active {
  opacity: 1;
}
.hashflow-product .hash-media .hash-thumbnails .hash-video {
  position: relative;
}
.hashflow-product .hash-media .hash-thumbnails .hash-video:after,
.hashflow-product .hash-media .hash-thumbnails .hash-video:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hashflow-product .hash-media .hash-thumbnails .hash-video:before {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--hash-primary);
  box-shadow: 1px 1px 5px #0000004d;
}
.hashflow-product .hash-media .hash-thumbnails .hash-video:after {
  left: calc(50% + 2px);
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 15px solid white;
  border-right-width: 0;
  display: block;
}
.hashflow-product .hash-product-data {
  flex: 1;
}
.hashflow-product .hashflow-add-to-cart.hash-product-controls {
  margin-bottom: 1em;
}
.hash-variant {
  margin-bottom: 1em;
}
.hashflow-product .hash-category {
  font-size: 0.75em;
  color: var(--hash-gray);
  text-decoration: none;
}
.hashflow-product .hash-categories {
  margin-bottom: 0.6em;
}
.hashflow-product .hash-category:not(:last-child):after {
  content: ', ';
}
.hashflow-product .hash-description {
  margin-bottom: 1.5em;
}
.hashflow-product .hash-description img {
  max-width: 100%;
}
.hashflow-product .hash-price {
  display: block;
  margin-bottom: 1em;
}
.hashflow-product .hash-original-price {
  color: var(--hash-body-color);
  margin-right: 10px;
}
.hashflow-product .hash-qty-available {
  display: block;
  margin: var(--hash-gutter-md) 0;
}
.hashflow-add-to-cart.hash-product-controls .hash-quantity-widget {
  margin: 0 var(--hash-gutter-sm) var(--hash-gutter-sm) 0;
}
.hashflow-add-to-cart.hash-product-controls .hash-personalization {
  margin-top: 1em;
  margin-bottom: 1.5em;
  max-width: 400px;
}
.hashflow-add-to-cart.hash-product-controls .hash-personalization .hash-row {
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}
.hashflow-add-to-cart.hash-product-controls
  .hash-personalization
  input[type='checkbox'] {
  margin-left: 8px;
}
.hashflow-add-to-cart.hash-product-controls
  .hash-personalization
  input[type='text'] {
  width: 100%;
}
.hashflow-add-to-cart.hash-product-controls .hash-personalization .hash-price {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
}
.hashflow-add-to-cart.hash-product-controls .hash-personalization p {
  margin-bottom: 8px;
}
.hashflow-add-to-cart.hash-product-controls .hash-min-qty-message {
  font-size: 0.9em;
  margin-top: 4px;
}
.hashflow-add-to-cart .hash-personalization.hash-required label span {
  color: var(--hash-danger);
}
.hashflow-add-to-cart .hash-personalization.hash-required .hash-check svg {
  color: var(--hash-primary);
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: -1px;
}
.hash-row {
  display: flex;
  flex-wrap: wrap;
}
.hash-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.hash-page-link {
  position: relative;
  display: block;
  margin: 0 0.15em;
  padding: 0.2em 0.7em;
  font-size: 0.9em;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  border-radius: var(--hash-border-radius);
}
.hash-page-link:hover {
  color: inherit;
  background-color: #e9ecef;
}
.hash-page-item.active .hash-page-link {
  color: var(--hash-white);
  background: var(--hash-primary);
}
.hash-page-item.disabled .hash-page-link {
  opacity: 0.6;
  pointer-events: none;
}
.hash-prev-btn,
.hash-next-btn {
  width: 2em;
  height: 100%;
  padding: 0.1em 0.6em;
}
@media (min-width: 576px) {
  .hashflow-product-list .hash-product,
  .hashflow-product-list .hash-product .hash-product-data {
    flex-direction: row;
  }
  .hashflow-product-list .hash-media {
    width: 30%;
  }
  .hashflow-product-list .hash-image {
    width: 100%;
    height: auto;
  }
  .hashflow-product-list .hash-product .hash-media {
    margin: 0 var(--hash-gutter-md) 0 0;
  }
  .hashflow-product-list:not(.hash-cards) .hash-media .hash-sale-badge {
    font-size: 0.7em;
  }
  .hashflow-product-list:not(.hash-cards) .hash-product .hash-original-price {
    display: block;
  }
  .hashflow-product-list.hash-cards .hash-products {
    --hash-products-per-row: 2;
  }
  .hashflow-product-list .hash-product .hash-addons {
    margin-left: 1em;
    margin-top: 0;
  }
  .hashflow-product-list.hash-cards .hash-product .hash-addons {
    opacity: 0;
    visibility: hidden;
  }
  .hashflow-product-list.hash-cards .hash-product:hover .hash-addons {
    opacity: 1;
    visibility: visible;
  }
  .hashflow-product .hash-media .hash-thumbnails {
    --hash-thumbs-per-row: 5;
  }
}
@media (min-width: 768px) {
  .hashflow-product-list.hash-cards .hash-products {
    --hash-products-per-row: 3;
  }
  .hashflow-product .hash-media {
    width: 40%;
  }
  .hashflow-product .hash-product-data {
    padding-left:2em;
  }
  .hashflow-product-list .hash-media {
    width: 20%;
  }
  .hashflow-product .hash-media .hash-thumbnails {
    --hash-thumbs-per-row: 4;
  }
}
@media (min-width: 992px) {
  .hashflow-product-list:not(.hash-cards) .hash-product .hash-original-price {
    display: inline;
  }
  .hashflow-product-list .hash-media {
    width: 15%;
  }
  .hashflow-product .hash-media .hash-thumbnails {
    --hash-thumbs-per-row: 5;
  }
}
@media (min-width: 1200px) {
  .hashflow-product-list.hash-cards .hash-products {
    --hash-products-per-row: 4;
  }
  .hashflow-product-list .hash-media {
    width: 10%;
  }
  .hashflow-product .hash-media .hash-preview .hash-image {
    height: 400px;
  }
}
.hashflow-category-list ul {
  list-style: none;
}
.hashflow-category-list.hash-horizontal-bar {
  background-color: var(--hash-gray-100);
  padding: 5px;
}
.hashflow-category-list.hash-horizontal-bar ul {
  padding: 0;
  margin: 0;
  z-index: 999;
}
.hashflow-category-list.hash-horizontal-bar > ul {
  display: flex;
  flex-wrap: wrap;
}
.hashflow-category-list.hash-horizontal-bar ul ul {
  display: none;
}
.hashflow-category-list.hash-horizontal-bar ul li {
  padding: 15px 20px;
  line-height: 1;
  position: relative;
}
.hashflow-category-list.hash-horizontal-bar a {
  text-decoration: none;
  color: var(--hash-body-color);
}
.hashflow-category-list.hash-horizontal-bar a:hover {
  color: var(--hash-primary);
}
.hashflow-category-list.hash-horizontal-bar li.hash-dropdown-toggle:after {
  content: '\25be';
  margin-left: 8px;
}
.hashflow-category-list.hash-horizontal-bar li.hash-dropdown-toggle:hover > ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 10px #223b8726;
  border-radius: 5px;
  width: max-content;
}
.hashflow-category-list.hash-horizontal-bar ul li ul li.hash-dropdown-toggle:after {
  content: '\bb';
}
.hashflow-category-list.hash-horizontal-bar
  ul
  li
  ul
  li.hash-dropdown-toggle:hover
  > ul {
  top: 0;
  left: 100%;
}
.hashflow-product-search {
  display: flex;
}
.hashflow-product-search .hash-input-wrapper {
  width: 100%;
  position: relative;
}
.hashflow-product-search .hash-cancel-search {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(0.8);
  border: 2px solid transparent;
  border-radius: 40px;
  cursor: pointer;
}
.hashflow-product-search .hash-cancel-search:after,
.hashflow-product-search .hash-cancel-search:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.hashflow-product-search .hash-cancel-search:after {
  transform: rotate(-45deg);
}
.hashflow-product-search input {
  display: block;
  width: 100%;
  padding: 8px 32px 8px 12px;
  display: inline-block;
  border: 1px solid var(--hash-gray-300);
  border-radius: var(--hash-border-radius);
  box-shadow: 2px 2px #00000005;
  background: var(--hash-white);
  font: inherit;
  color: inherit;
}
.hashflow-product-search input:focus {
  outline: none;
  border-color: #00000026;
  box-shadow: 0 0 10px #00000026;
}
.hashflow-product-search .hash-button {
  margin-left: 10px;
}
.hash-notification {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 220px;
  color: #555;
  background-color: #fff;
  border: 1px solid var(--hash-gray-300);
  border-left: 2px solid;
  border-radius: var(--hash-border-radius);
  margin: 0 30px;
  padding: 10px 15px;
  box-shadow: 0 0 25px #00000026;
  line-height: 1.5;
  font-size: 14px;
  transform: translateY(200px);
  transition: transform 0.4s;
  pointer-events: all;
  z-index: 1046;
}
.hash-notification .hash-button {
  font-weight: bold;
  font-size: 11px;
  text-transform: none;
  padding: 6px 8px;
  margin-top: 7px;
  background-color: var(--hash-primary);
  opacity: 0.95;
}
.hash-notification .hash-button:hover {
  opacity: 1;
}
.hash-notification.no-description .hash-notification-description {
  display: none;
}
.hash-notification.no-description {
  font-size: 13px;
}
.hash-notification.info {
  border-left-color: var(--hash-primary);
}
.hash-notification.success {
  border-left-color: var(--hash-success);
}
.hash-notification.success .hash-button {
  background-color: var(--hash-success);
}
.hash-notification.warning {
  border-left-color: var(--hash-warning);
}
.hash-notification.warning .hash-button {
  background-color: var(--hash-warning);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.hash-notification.error {
  border-left-color: var(--hash-danger);
}
.hash-notification.error .hash-button {
  background-color: var(--hash-danger);
}
.hash-notification .hash-notification-title {
  font-weight: bold;
}
.hash-notification .hash-notification-description {
  font-size: 13px;
  color: var(--hash-gray);
}
.hash-notification .hash-close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 19px;
  color: var(--hash-darkgray);
  font-size: 17px;
  opacity: 0.7;
  cursor: pointer;
}
.hash-notification .hash-close-button:hover {
  opacity: 1;
}
@media (min-width: 576px) {
  .hash-notification {
    left: auto;
    margin: 0 50px 6px 0;
    white-space: nowrap;
  }
}
.hashflow-cart-toggler {
  position: relative;
}
.hashflow-cart-toggler:before {
  content: attr(data-hashflow-count);
  position: absolute;
  right: 0;
  background: var(--hash-danger);
  border-radius: 1em;
  color: #fff;
  font-size: 0.7em;
  padding: 0.3em 0.4em 0.2em;
  line-height: 1;
  transform: translate(70%, -50%);
  visibility: hidden;
}
.hashflow-cart-toggler.has-summary {
  cursor: pointer;
}
.hashflow-cart-toggler.has-quantity:before {
  visibility: visible;
}
.hash-summary,
.hash-product-preview {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  width: 380px;
  max-width: 100vw;
  border-left: 1px solid var(--hash-gray-300);
  transition: transform 0.3s ease-in-out;
  transform: translate(100%);
  box-shadow: -2px 2px 2px #0000000d;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  opacity: 0;
  visibility: hidden;
  cursor: initial;
  z-index: 1045;
}
.hash-summary.left {
  left: 0;
  transform: translate(-100%);
}
.hash-summary.left {
  border-left: none;
  border-right: 1px solid var(--hash-gray-300);
}
.hash-summary.open,
.hash-product-preview.open {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.hash-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.hash-summary-header .hash-summary-title {
  margin: 0;
}
.hash-summary-header .hash-close-button {
  font-size: 1.5em;
  cursor: pointer;
}
@media (min-width: 576px) {
  .hash-summary.dropdown {
    position: absolute;
    top: 100%;
    bottom: auto;
    width: 360px;
    max-width: 100vw;
    min-height: 90px;
    padding: var(--hash-gutter-sm) 0;
    border: 1px solid var(--hash-gray-300);
    border-radius: var(--hash-border-radius);
    box-shadow: 2px 2px 2px #0000000d;
    transform: translate(0);
  }
  .hash-summary.dropdown .hash-summary-header {
    display: none;
  }
}
.hash-summary-body {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: var(--hash-gutter-md);
  font-size: 0.9em;
}
.hash-summary-body .hash-cart-summary {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.hash-summary-body .hash-products {
  position: relative;
  overflow: auto;
}
.hash-summary-footer {
  text-align: center;
}
.hash-summary .hash-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--hash-gutter-md);
  font-size: 0.9em;
}
.hash-summary .hash-product .hash-row {
  justify-content: space-between;
}
.hash-summary .hash-product .hash-product-col {
  display: flex;
  flex: 1;
}
.hash-summary .hash-product .hash-product-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.hash-summary .hash-product .hash-product-photo {
  width: 50px;
  height: 50px;
  margin-right: var(--hash-gutter-sm);
  background-color: var(--hash-gray-300);
  border-radius: var(--hash-border-radius);
  object-fit: cover;
}
.hash-summary .hash-product .hash-product-name {
  font-weight: bold;
  word-break: break-word;
}
.hash-summary .hash-product .hash-product-personalization-holder {
  font-size: 0.9em;
  color: var(--hash-gray);
  margin-bottom: 4px;
}
.hash-summary .hash-product .hash-product-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hash-summary .hash-product .hash-quantity-widget {
  margin-bottom: 0;
}
.hash-summary .hash-product .hash-quantity-widget > div {
  width: 25px;
  font-size: 20px;
  line-height: 1;
}
.hash-summary .hash-product .hash-quantity-widget input {
  width: 35px;
  height: 25px;
}
.hash-summary .hash-product .hash-product-qty-message {
  font-size: 0.9em;
  margin-top: 6px;
}
.hash-summary .hash-product .hash-product-remove {
  font-size: 0.8em;
  color: var(--hash-danger);
  cursor: pointer;
}
.hash-summary .hash-product .hash-product-remove:hover {
  opacity: 1;
}
.hash-summary .hash-subtotal {
  font-weight: bold;
  margin-bottom: var(--hash-gutter-sm);
}
.hash-summary .hash-subtotal .hash-row {
  justify-content: space-between;
}
.hash-summary .hash-shipping-taxes {
  font-size: 0.8em;
  color: var(--hash-gray);
}
.hash-summary-footer .hash-button {
  margin-bottom: var(--hash-gutter-sm);
}
.hash-summary .hash-loading-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none !important;
}
.hash-summary .hash-loading-overlay.visible {
  opacity: 1;
}
.hash-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: initial;
}
.hash-backdrop.active {
  display: block;
}
.hash-product-preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.hash-product-preview-header .hash-title {
  font-size: 1em;
  font-weight: bold;
}
.hash-product-preview-header .hash-close-button {
  font-size: 1.5em;
  cursor: pointer;
}
.hash-product-preview-content {
  padding: 0 1em;
  overflow: auto;
}
.hash-product-preview .hashflow-product {
  display: flex;
  flex-direction: column;
}
.hash-product-preview .hash-media {
  width: 100%;
}
.hash-product-preview .hash-media .hash-preview .hash-image {
  height: 250px;
}
.hash-product-preview .hash-product-data {
  padding: 0;
}
.hashflow-shopping-cart .paypal-button {
  height: 55px;
  padding: 16px;
  margin-bottom: 7px;
  font-size: 16px;
  text-align: center;
  border-radius: var(--hash-border-radius);
  cursor: default;
}
.hashflow-shopping-cart .hash-paypal-express-checkout-holder .paypal-button {
  height: 43px;
  padding: 10px;
}
.hashflow-shopping-cart .paypal-button-gold {
  color: #2c2e2f;
  background: #ffc439;
}
.hashflow-shopping-cart .paypal-button-black {
  color: var(--hash-white);
  background: #2c2e2f;
}
.hashflow-order-status {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}
.hashflow-order-status > div.col {
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
}
.hashflow-order-status > div.col > div {
  border: 1px solid var(--hash-gray-300);
  border-radius: var(--hash-border-radius);
  padding: 20px;
}
.hashflow-order-status h2 {
  font-size: 1.35rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.hashflow-order-status .hash-order-line {
  margin-bottom: 10px;
}
.hashflow-order-status .hash-order-line b,
.hashflow-order-status .hash-order-line span {
  display: block;
}
.hashflow-order-status .hash-order-line > b:first-letter {
  text-transform: capitalize;
}
.hashflow-order-status .hash-order-line:last-child {
  margin-bottom: 0;
}
.hashflow-order-status .hash-line-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hashflow-order-status .hash-product-line.hash-line-item {
  margin-bottom: 0;
}
.hashflow-order-status .hash-personalization-line.hash-line-item {
  padding-left: 20px;
  margin-bottom: 0;
}
.hashflow-order-status .hash-line-item .hash-price {
  text-align: right;
}
.hashflow-order-status .hash-line-item .hash-price small {
  color: var(--bs-gray-600);
  display: block;
  font-size: 0.9 rem;
}
.hashflow-order-status .hash-tiny-separator {
  width: 100px;
  text-align: center;
  margin: 12px auto;
}
.hashflow-order-status .hash-order-payment-instructions p {
  font-family: var(--bs-body-font-family);
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .hashflow-order-status > div.col {
    width: 50%;
    padding: 15px;
  }
  .hashflow-order-status > div.col > div {
    padding: 32px;
  }
}
